<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="mystyle.css">
</head>

<body>
    <div class="container">
        <nav class="basliq">

            <div class="brend">
                <h1> Social
                    <span>Network</span>
                </h1>
            </div>

            <div class="axtaris">

                <input type="text" placeholder=" Find">
                <i class="fas fa-search"></i>
                <a href="https://www.google.az">upload
                    <i class="fas fa-upload"></i>
                </a>

            </div>

            <div class="istifadeci">
                <a href="">
                    <i class="fas fa-user"> </i>
                </a>
                <h3 class="name">
                    Pərvin
                    <br>Qurbanov</br>
                </h3>
                <span>20</span>

            </div>


        </nav>
        <header>
            <ul>
                <li></li>
                <li>videos</li>
                <span>/</span>
                <li>People</li>
                <span>/</span>
                <li>documents</li>
                <span>/</span>
                <li>events</li>
                <span>/</span>
                <li>communities</li>
                <span>/</span>
                <li>favorites</li>
            </ul>
        </header>
        <div class="wrapper">
            <div class="left">
                <div class="inner">
                    <div class="sol">
                        <h1>videos</h1>
                        <span>browse all videos</span>
                        <div class="bir">
                            <img src="https://media.giphy.com/media/ESadIgNPdpckg/giphy.gif" alt="">

                        </div>
                        <div class="iki">
                            <img src="https://media.giphy.com/media/SMsrdXLan23vi/giphy.gif" alt="">
                        </div>
                        <div class="uc">
                            <img src="https://media.giphy.com/media/9UpVtzs8thaW4/giphy.gif" alt="">
                        </div>
                    </div>
                    <div class="sag">
                        <div class="num bir">
                            <img src="https://media.giphy.com/media/l2SpTXlLhThF29ai4/giphy.gif" alt="">
                        </div>
                        <div class="num">
                            <img src="https://media.giphy.com/media/ukMiDlCmdv2og/giphy.gif" alt="">
                        </div>
                        <div class="num uc">
                            <h3>
                                <i class="far fa-arrow-alt-circle-up"></i>
                                <span>Upload you own video</span>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="inner">
                    <div class="sol">
                        <h1>People</h1>
                        <span>View all</span>
                        <div class="bir">
                            <img src="https://media.giphy.com/media/QHE5gWI0QjqF2/giphy.gif" alt="">
                            </h3>
                        </div>
                        <div class="iki">
                            <img src="images/qp.gif" alt="">
                        </div>
                        <div class="uc">
                            <img src="https://media.giphy.com/media/26tn33aiTi1jkl6H6/giphy.gif" alt="">

                        </div>
                    </div>
                    <div class="sag">

                        <div class="num bir">
                            <img src="https://media.giphy.com/media/3osxY9kuM2NGUfvThe/giphy.gif" alt="">

                        </div>
                        <div class="num">
                            <img src="https://media.giphy.com/media/6fL4ZqndWKpOM/giphy.gif" alt="">

                        </div>
                        <div class="num uc">
                            <h3>
                                <i class="far fa-dot-circle"></i>
                                <span>Show You Work</span>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="inner">
                    <div class="sol">
                        <h1>Documents</h1>
                        <span>browse all documents</span>
                        <div class="bir">

                            <img src="https://media.giphy.com/media/heIX5HfWgEYlW/giphy.gif" alt="">

                        </div>
                        <div class="iki">
                            <img src="https://media.giphy.com/media/r1IMdmkhUcpzy/giphy.gif" alt="">


                            </h3>
                        </div>
                        <div class="uc">
                            <img src="https://media.giphy.com/media/l3q2VZLzFKvFTbEzK/giphy.gif" alt="">

                        </div>
                    </div>
                    <div class="sag">
                        <div class="num bir">
                            <img src="https://media.giphy.com/media/YGXr4RYSF0FW/giphy.gif" alt="">

                        </div>
                        <div class="num">
                            <img src="https://media.giphy.com/media/7h5FhxawWqSdO/giphy.gif" alt="">

                            </h3>
                        </div>
                        <div class="num uc">
                            <h3>
                                <i class="fas fa-plus-circle"></i>
                                <span>Share You Documents</span>
                            </h3>

                        </div>
                    </div>
                </div>

            </div>

            <div class="right">
                <h1>Activity
                    <span>view timeline/activities</span>
                </h1>

                <div class="top">

                    <div class="sol"></div>
                    <div class="sag">
                        <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit, officiis.</h5>
                        <i class="fas fa-comment"></i>
                        <span> 2 second ago</span>

                    </div>

                    <div class="sol"></div>
                    <div class="sag">
                        <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit, officiis.</h5>
                        <i class="fas fa-video"></i>
                        <span>5 minutes ago</span>

                    </div>

                    <div class="sol"></div>
                    <div class="sag we">
                        <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit, officiis.</h5>
                        <i class="fas fa-file"></i>
                        <span>1 day ago</span>

                    </div>

                    <div class="sol"></div>
                    <div class="sag">
                        <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit, officiis.</h5>
                        <i class="fas fa-lock-open"></i>
                        <span> 44 minutes ago</span>

                    </div>

                    <div class="sol"></div>
                    <div class="sag">
                        <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit, officiis.</h5>
                        <i class="fas fa-video"></i>
                        <span>1 hour ago</span>

                    </div>

                    <div class="sol"></div>
                    <div class="sag">
                        <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit, officiis.</h5>
                        <i class="fas fa-heartbeat"></i>
                        <span>19 minutes ago</span>
                    </div>

                </div>
                <div class="bottom">
                    <h1>Chanels
                        <span>Browse all chanels</span>
                    </h1>
                    <div class="bb">
                        <img src="https://media.giphy.com/media/5NPhdqmyRxn8I/giphy.gif" alt="">

                    </div>
                    <div class="cc">
                        <img src="images/drib.png" alt="">
                        <h6>Dribbble</h6>
                    </div>

                    <div class="bb">
                        <img src="images/ms.jpg" alt="">
                        <h6>Microsoft</h6>
                    </div>
                    <div class="cc">
                        <img src="images/be.gif" alt="">
                        <h6>Behance</h6>
                    </div>

                    <div class="bb">
                        <img src="images/wc.png" alt="">
                        <H6>Weather Chanels</H6>
                    </div>
                    <div class="cc">
                        <img src="images/tesla.jpg" alt="">
                        <h6></h6>
                    </div>

                    <div class="bb">
                        <img src="images/im.png" alt="">
                        <h6>Imedia</h6>
                    </div>
                    <div class="cc">
                        <img src="images/ce.jpg" alt="">

                    </div>

                    <div class="bb">
                        <img src="images/ks.jpg" alt="">
                    </div>
                    <div class="cc">
                        <img src="images/y.jpg" alt="">
                    </div>


                </div>

            </div>
            <a href="" class="social ae">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="social">
                <i class="fab fa-facebook-square"></i>
            </a>
            <a href="" class="social">
                <i class="fab fa-linkedin"></i>
            </a>
            <ul>

                <li>About</li>
                <span>/</span>
                <li>For Business</li>
                <span>/</span>
                <li>Suggestions</li>
                <span>/</span>
                <li>Help FAQs</li>
                <span>/</span>
                <li>Contacts</li>
                <span>/</span>
                <li>pricing</li>
            </ul>


        </div>
        <h3>
            <i class="far fa-copyright"></i>
            copyright 2018 qp inc.
            <br>
            <span>privacy / terms</span>
        </h3>
    </div>
</body>

</html>